.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-vertical {
  height: 30px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: darkblue;
}

.main-test {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.test {
  position: absolute;
  height: 100vh;
  width: 40px;
  z-index: 10000;
  background-color: red;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.my-container {
  position: absolute;
  left: 5%;
  height: 100vh;
  width: 95vw;
}

.ant-layout-sider {
  height: 100vh;
}
